[Desktop Entry]
Name=YaTODOL
Comment=Yet another todo list
Exec=/usr/lib/yatodol/YATODOL
Icon=/usr/share/pixmaps/yatodol.png
Terminal=false
Type=Application
Categories=Utility;Office;
StartupWMClass=YATODOL
Keywords=todo;task;list;
